.icon {
  font-size:40px;
}

#app button, 
#app input,
label.file {
  margin-bottom:15px;
  border:none;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-indent:15px;
  padding-right:20px;
}

button#back, 
button#header_menu {
  background: #FFF;
  border: 1px solid #AAA;
  color: #888;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

button#header_menu {
  padding-right:19px;
  padding-top:16px;
}

button,label.file, textarea{
  background-color:rgb(64, 128, 255);
  color: #FFF;
  pointer: cursor;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.0);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.0);
  text-transform: capitalize;
}

button,label.file, input, textarea {
  border-radius: 5px;
}

button:hover,
input:hover,
label.file:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(1.0, 1.0, 1.0, 0.3);
  box-shadow: 0px 0px 6px 0px rgba(1.0, 1.0, 1.0, 0.3);
}

button:focus, input:focus{
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0.0, 0.0, 0.0, 0.3);
  box-shadow: 0px 0px 6px 0px rgba(0.0, 0.0, 0.0, 0.3);
}

label.file input[type="file"] {
    position: fixed;
    top: -1000px;
}

button#back {
  margin-right: 15px;
  position:relative;
  margin-left:-300px;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

/***** Example custom styling *****/
.file {
  text-align:center;
  display: block;
}
label.file :invalid + span {}
label.file :valid + span   {}

.wide button,
.wide {
  width: 100%; 
}

/* fastclick fix for clicking labels in safari */
label > * {
    display: block;
    pointer-events: none;
}


/* Material textinput */

.inputlabel {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, "Trebuchet MS";
  white-space: nowrap;
  color:#888;
  font-weight: 400;
  text-transform: capitalize;
  font-size:11px;
  line-height:10px;
}

.form-control{
  line-height:50px;
  color: #555;
  background-color:transparent;
  padding:0;
  border:none;
  width:100% !important;
  border-bottom: 1px solid #DDD;
  margin-bottom:19px;
}
.error .form-control {
  border-bottom: 2px solid red;
}

.input-bar {
  width: 0;
  height: 100%;
  transition: height .3s;
  background: #000;
}

/*
 * Material controls
 */

.border {
  border: 1px solid rgb(64,  128,  255) !important;
}

.form-control{
  padding:0;
  border:none;
  width:100% !important;
  border-bottom: 1px solid #DDD;
}
.error .form-control {
  border-bottom: 2px solid red !important;
}

.noborder {
  box-shadow:none !important;
  -webkit-box-shadow:none !important;
  border:none !important;
}

textarea {
  width:100%;
  height:20%;
  border:1px solid #CCC;
  background-color:#FFF;
  color:#555;
  text-transform:none;
}
